.catalogue__header
	h1.catalogue__header-title Наши номера
	.catalogue__header-sort.header-sort
		.header-sort--wrapper
			ul.header-sort__list
				li.header-sort__list-item
					button(class="btn header-sort__btn" data-sort-direction="asc" data-sort-value="original-order" type="button")
						span.header-sort__icon
							svg(class="icon header-sort__icon-svg")
								use(xlink:href="/img/sprites/sprite.svg#ico_arrow-up")
						span.header-sort__title По площади
				li.header-sort__list-item
					button(class="btn header-sort__btn header-sort__btn--less" data-sort-direction="asc" data-sort-value="original-order" type="button")
						span.header-sort__icon
							svg(class="icon header-sort__icon-svg")
								use(xlink:href="/img/sprites/sprite.svg#ico_arrow-up")
						span.header-sort__title По площади
				li.header-sort__list-item
					button(class="btn header-sort__btn" data-sort-direction="asc" data-sort-value="original-order" type="button")
						span.header-sort__icon
							svg(class="icon header-sort__icon-svg")
								use(xlink:href="/img/sprites/sprite.svg#ico_arrow-up")
						span.header-sort__title По цене
				li.header-sort__list-item
					button(class="btn header-sort__btn header-sort__btn--less" data-sort-direction="asc" data-sort-value="original-order" type="button")
						span.header-sort__icon
							svg(class="icon header-sort__icon-svg")
								use(xlink:href="/img/sprites/sprite.svg#ico_arrow-up")
						span.header-sort__title По цене
			span.header-sort__header-up
				svg(class="icon header-sort__header-up-icon")
					use(xlink:href="/img/sprites/sprite.svg#ico_up")