.catalog__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    .header-sort {
        position: relative;
        width: 175px;
        height: 30px;
        overflow-y: hidden;
        transition: $transition;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px $grid-unit*4;

            &--wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }

        &__header-up {
            position: absolute;
            z-index: 11;
            top: 16px;
            right: 20px;
            width: 12px;
            height: 6px;
            transform: rotate(180deg);
            transition: $transition;
        }

        &__icon {
            display: block;
            width: 7px;
            height: 12px;
            margin-right: $grid-unit;
        }

        &__title {
            line-height: 1;
            color: $color-codGray;
        }

        &__btn {
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            &--less {
                .header-sort__icon {
                    transform: rotate(180deg);
                }
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            width: 100%;
            height: auto;
            max-height: 155px;
            padding: 0 $grid-unit*4;
            transition: $transition;
            background: #ffffff;
            box-shadow: 0 2px 12px rgba(173, 152, 143, 0);
            border-radius: 4px;
        }

        &__list-item {
            order: 2;
            padding: 12px 0;

            &.active {
                order: 1;
            }
        }

        &--wrapper {
            min-height: 30px;
        }

        &.active {
            height: auto;
            overflow-y: visible;

            .header-sort__list {
                box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
            }
            .header-sort__header-up {
                transform: rotate(0deg);
            }
        }
    }
}