.header__nav {
    flex-shrink: 0;

    &-list {
        display: flex;
        justify-content: flex-end;

        @media (max-width: $md) {
            width: 0;
            height: 0;
            z-index: -1;
            opacity: 0;
            pointer-events: none;
        }
    }

    .nav-list {
        &__item {
            margin-left: $grid-unit*6;
            font-weight: 600;
            font-size: 16px;
        }
        &__item-link {
            display: inline-block;
            border-bottom: 1px solid transparent;
            transition: $transition;

            &:hover, &:focus {
                border-bottom: 1px solid $color-mercury;
            }
        }
    }

    .burger-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;

        span {
            width: 30px;
            height: 2px;
            border-radius: 10px;
            background-color: $color-primary;
            margin-bottom: 8px;
            transition: $transition;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        @media (max-width: $md) {
            display: flex;
        }
    }
}



