nav.header__nav
	.header__nav-burger.burger-menu
		span
		span
		span
	ul.header__nav-list.nav-list
		+list-item("nav-list__item", "Почему мы?", "#")
		+list-item("nav-list__item", "Номера", "#")
		+list-item("nav-list__item", "Отзывы", "#")
		+list-item("nav-list__item", "Как нас найти", "#")