.catalog
	.catalog--wrapper
		include __header/catalog__header
		.catalog__content
			.catalog__mobile
				button(class="button button--block button--yellow catalog__mobile-btn" type="button") Фильтр
			include __filter/catalog__filter
			include __items/catalog__items