.catalog__items
	- var itemImg = "img/img/img_catalog-1.jpg";
	- var itemTitle = "Эконом";
	- var itemSize = "90х70х180";
	- var itemSquare = "0,63";
	- var itemRate = "100";
	include ../../../components/catalog/__item/catalog__item
	- var itemImg = "img/img/img_catalog-2.jpg";
	- var itemTitle = "Эконом плюс";
	- var itemSize = "90х100х180";
	- var itemSquare = "0,90";
	- var itemRate = "200";
	- var itemOptions = "box, claw";
	include ../../../components/catalog/__item/catalog__item
	- var itemImg = "img/img/img_catalog-3.jpg";
	- var itemTitle = "Комфорт";
	- var itemSize = "100х125х180";
	- var itemSquare = "1,13";
	- var itemRate = "250";
	- var itemOptions = "box, claw, clew";
	include ../../../components/catalog/__item/catalog__item
	- var itemImg = "img/img/img_catalog-4.jpg";
	- var itemTitle = "Сьют";
	- var itemSize = "125х125х180";
	- var itemSquare = "1,56";
	- var itemRate = "350";
	- var itemOptions = "box, claw, clew";
	include ../../../components/catalog/__item/catalog__item
	- var itemImg = "img/img/img_catalog-5.jpg";
	- var itemTitle = "Люкс";
	- var itemSize = "160х160х180";
	- var itemSquare = "2,56";
	- var itemRate = "500";
	- var itemOptions = "all";
	include ../../../components/catalog/__item/catalog__item
	- var itemImg = "img/img/img_catalog-6.jpg";
	- var itemTitle = "Супер-Люкс";
	- var itemSize = "180х160х180";
	- var itemSquare = "2,88";
	- var itemRate = "600";
	- var itemOptions = "all";
	include ../../../components/catalog/__item/catalog__item