.button {
    position: relative;
    display: inline-block;
    padding: $grid-unit*3 $grid-unit*4;
    border: 0;
    border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: $color-primary;
    text-align: center;
    text-decoration: none;
    background-color: $color-white;
    transition: $transition;
    cursor: pointer;


    &[disabled] {
        cursor: default;
        opacity: 0.5;
    }

    &--orange {
       background-color: $color-burningOrange;
       color: $color-white;

        &:hover {
            background-color: #e26632;
        }
    }

    &--transparent {
        color: $color-codGray;
        background-color: transparent;

        &:hover {
            color: $color-codGray;
        }
    }

    &--block {
        display: block;
        width: 100%;
    }


}